/* DEFAULTS
----------------------------------------------------------*/

*
{
    margin: 0;
    padding: 0px;
}

html
{
    height: 100%;
}

body   
{
    background: #b6b7bc;
    font-size: 1em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: Black;
    height: 100%;
}

form
{
    height: 100%;
}

img
{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: Black;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 700;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftC 
{
    margin-top: 0px;
}


/* PAGE LAYOUTS  
----------------------------------------------------------*/

.masterPage
{
    background-position: center center;
    margin: 0px 0px 0px 0px;
    background-image: url('../Icons/Original/Background.png');
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    height: 100%;
}

.initPage
{
    background-position: center center;
    margin: 0px 0px 0px 0px;
    background-image: url('../Icons/Original/Init_Background.png');
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    height: 100%;
}



/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.header
{
    position: relative;
    margin: 0px;
    /*background: #4b6c9e;*/
    width: 100%;
    height: auto;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: Orange; /*#f9f9f9;*/
    border: none;
    line-height: 2em;
    font-size: 2.5em;
}

.iconMenu
{
    height: 10em;
    padding-left: 10px;
}

.main
{
    padding: 0px 2px;
    margin: 0px 8px 0px 8px;
    height: auto;
    width: 100%;
}

div.leftColContent
{
    padding: 100% 0px;
}

/* CONTAINERS
----------------------------------------------------------*/
div.loginContainer
{
    float: left;
    width: 50%;
}

.loginContainer h1
{
    font-weight: 700;
    margin: 0px;
    color: Black; /*#f9f9f9;*/
    border: none;
    font-size: 1.5em;
}

.loginContainer input
{
    width: 100%;
    height: 100%;
    border: 0px;
}

div.initIconContainer
{
    width: 50%;
    margin: 13em 0em 0em 10em;
    float: left;
}

div.masterIconContainer
{
    margin: 1em 1em 0em 1em;
    float: left;
}

div.exitContainer
{
    margin: 20em 5em 0em 0em;
    width: 10em;
    float: left;
}

div.masterExitContainer
{
    margin: 0em 5em 0em 5em;
    width: 10em;
    float: left;
}

div.mailContainer
{
    margin: 13em 5em 0em 0em;
    width: 10em;
    float: left;
}

div.iconContainer
{
    margin: 0px 2px 0px 0px;
    padding: 5px 5px 0px 5px;
    background-color: White;
    float: left;
}

div.leftPanel
{
    float: left;
    width: 10em;
    height: 100%;
}

div.mainContainer
{
    float: left;
    width: 50%;
}

/* TABLE FORMAT
----------------------------------------------------------*/
tr.firstRow
{
    background-color: #00CCFF;
}

td
{
    padding: 2px 14px 2px 10px;
}

tr.evenRow
{
    background-color: #CCFFFF;
}

tr.oddRow
{
    background-color: White;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.infoEntry 
{
    width: 100%;
    border: 1px solid #ccc;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

/* BUTTONS  
----------------------------------------------------------*/

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.suspendButton
{
    text-align: center;
}

/* Text Values 
----------------------------------------------------------*/
.readOnlyText
{
    color: Gray;
    text-align: left;
    width: 100%;
    border: 1px solid #ccc;
}

.editText
{
    text-align: left;
    color: Black;
    width: 100%;
    border: 1px solid #ccc;
}

.successText
{
    color: Green;
}

.failureText
{
    color: Red;
}